{if !empty($diyitem['params']['title'])}
<div class="fui-title" style="background: {$diyitem['style']['background']}; color: {$diyitem['style']['color']}; font-size: {$diyitem['style']['fontsize']}px; text-align: {$diyitem['style']['textalign']}; padding: {$diyitem['style']['paddingtop']}px {$diyitem['style']['paddingleft']}px; margin: 0;">
    <a href="{$diyitem['params']['link']}" style="color: {$diyitem['style']['color']};    display: flex;
    font-weight: bold;
    font-size: 4.3vw;
    align-items: center;" data-nocache="true">
        {if !empty($diyitem['params']['icon'])}<i class=" iconTitle"></i>{/if}
        {$diyitem['params']['title']}
    </a>
</div>
<style>
    .iconTitle{
        width: 2vw;
        background: #ff8f20;
        height: 6vw;
        border-radius: 6px;
        margin-right: 2vw;
    }
    .fui-title a{
        color: black !important;
    }

</style>
{/if}
<!--6Z2S5bKb5piT6IGU5LqS5Yqo572R57uc56eR5oqA5pyJ6ZmQ5YWs5Y+454mI5p2D5omA5pyJ-->